<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div id="custom_html-1" class="widget_text widget widget-about widget_custom_html">
                        <div class="textwidget custom-html-widget"><img
                                src="http://smartdata.tonytemplates.com/heacool/wp-content/uploads/2019/12/ft-logo2.png"
                                alt="">
                            <ul class="social_lnks">
                                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <p><span>2020 ©</span> Heating &amp; Cooling. All rights reserved. </p>

                            <!--social_lnks end-->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div id="smart_contact_list-1" class="widget widget-contact  widget_smart_contact_list">
                        <ul>
                            <li>
                                <span>Phone: </span> <span class="fl_right"> 1 (609) 123-45-67</span>
                            </li>
                            <li><span>Email: </span> <span class="fl_right"> info@yourdomain.com</span>
                            </li>
                            <li><span>Address: </span> <span class="fl_right"> 1531 Moonlight Drive,
                                    Maple Shade, NJ</span></li>



                            <li>

                                Mon-Fri 8:00 AM - 8:00 PM, Sat-Sun </li>


                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-4 col-sm-6">
                    <div class="our_map">
                        <div class="mapouter">
                            <div id="footer_map-1" class="widget widget_footer_map"><img class="footer_map_img"
                                    src="http://smartdata.tonytemplates.com/heacool/wp-content/uploads/2019/12/map-image.png"
                                    alt="img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--footer-content end-->
    </div>
</footer>