<section class="ftco-section">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-between">
            <div class="col-md-8 order-md-last">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center">
                        <h1>
                            <a class="navbar-brand" href="index.html">Minh Nhật</a>
                        </h1>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-danger btn-danger-contact">
                            <i class="fa fa-phone mr-2 nav-text"></i>
                            <span class="">0336287471</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="social-media">
                    <p class="mb-0 d-flex">
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active"><a href="#" class="nav-link">TRANG CHỦ</a></li>
                    <li class="nav-item"><a href="/api/introduce" class="nav-link">GIỚI THIỆU</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">DỊCH VỤ</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/api/suachuamaylanh">Sửa chữa máy lạnh</a>
                            <a class="dropdown-item" href="/api/thaolapmaylanh">Tháo lắp máy lạnh</a>
                            <a class="dropdown-item" href="/api/vesinhmaylanh">Vệ sinh máy lạnh</a>
                            <a class="dropdown-item" href="/api/suachuamaygiat">Sửa chữa máy giặt</a>
                            <a class="dropdown-item" href="/api/vesinhmaygiat">Vệ sinh máy giặt</a>
                            <a class="dropdown-item" href="/api/suachuatulanh">Sửa chữa tủ lạnh</a>
                            <a class="dropdown-item" href="/api/lapdatmaynuocnong">Sửa chữa máy nước nóng</a>
                            <a class="dropdown-item" href="/api/suachuadiennuocdandung">Sửa chữa điện nước dân dụng</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="/api/contact" class="nav-link">LIÊN HỆ</a></li>
                    <li class="nav-item"><a href="/api/quote" class="nav-link">BẢNG BÁO GIÁ</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- END nav -->

</section>