<section id="content">
  <div class="container">

    <div class="section-content relative">
      <h2 style="text-align: center;"><span
          class="ez-toc-section"
          id="Lien_He_Dien_Lanh_Hung_Phat_Can_Tho"
        ></span><span
          id="Dich_Vu_Dien_Lanh_Hung_Phat_Can_Tho"
          style="font-size: 120%;"
        ><strong>Liên Hệ Điện Lạnh Hưng Phát Cần Thơ</strong></span><span
          class="ez-toc-section-end"
        ></span></h2>
      <div class="row" id="row-602482225">
        <div id="col-750870953" class="col-md-5 con-sm-12 col-lg-5">
          <div class="col-inner">
            <p><span style="font-size: 120%;"><em><strong>Liên Hệ Điện Lạnh Hưng
                    Phát Cần Thơ qua:</strong></em></span></p>
            <ul>
              <li><span style="font-size: 120%;">Điện thoại: 0963424476 –
                  0902434720</span></li>
              <li><span style="font-size: 120%;">Địa chỉ: 98/35 hẻm 98, đường
                  Trần Hưng Đạo, quận Ninh Kiều, tp Cần Thơ.</span></li>
              <li><span style="font-size: 120%;">Zalo: 0902434720</span></li>
              <li><span style="font-size: 120%;">facebook:
                  facebook.com/haothien.tran.92775838/</span></li>
              <li><span style="font-size: 120%;">email: ttluan1500481@gmail.com</span></li>
              <li><span style="font-size: 120%;">Website:
                  https://dienlanhtaydo.com</span></li>
            </ul>
          </div>
        </div>

        <div id="col-89273357" class="col-md-7 col-sm-12 con-lg-7">
          <div class="col-inner">

            <p><iframe
                loading="lazy"
                style="border: 0;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d491.0917282304986!2d105.77489925761832!3d10.038809544495946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a089ff7af31af1%3A0x4c1175fdf5dc3dfa!2zQ8ahIMSRaeG7h24gbOG6oW5oIEjGsG5nIFBow6F0!5e0!3m2!1svi!2s!4v1658661970731!5m2!1svi!2s"
                width="600"
                height="450"
                allowfullscreen="allowfullscreen"
                data-rocket-lazyload="fitvidscompatible"
                class="lazyloaded"
                data-ll-status="loaded"
              ></iframe><noscript><iframe
                  style="border: 0;"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d491.0917282304986!2d105.77489925761832!3d10.038809544495946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a089ff7af31af1%3A0x4c1175fdf5dc3dfa!2zQ8ahIMSRaeG7h24gbOG6oW5oIEjGsG5nIFBow6F0!5e0!3m2!1svi!2s!4v1658661970731!5m2!1svi!2s"
                  width="600"
                  height="450"
                  allowfullscreen="allowfullscreen"
                ></iframe></noscript></p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>