<div class="container-wrap">
  <aside id="fh5co-hero">
    <div class="flexslider">
      <ul class="slides">
        <li style="background-image: url(assets/images/img_bg_1.jpg);">
          <div class="overlay-gradient"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                <div class="slider-text-inner">
                  <h1>Not Every Project Needs To Be Perfect</h1>
                  <h2>Free html5 templates Available at <a href="http://Themewagon.com/theme_tag/free/"
                      target="_blank">Themewagon</a></h2>
                  <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a
                      class="btn btn-primary btn-learn">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(assets/images/img_bg_2.jpg);">
          <div class="overlay-gradient"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                <div class="slider-text-inner">
                  <h1>WordPress Theme For People Who Tell Stories</h1>
                  <h2>Free html5 templates Available at <a href="http://Themewagon.com/theme_tag/free/"
                      target="_blank">Themewagon</a></h2>
                  <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a
                      class="btn btn-primary btn-learn">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(assets/images/img_bg_3.jpg);">
          <div class="overlay-gradient"></div>
          <div class="container-fluids">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 slider-text">
                <div class="slider-text-inner text-center">
                  <h1>What Would You Like To Learn?</h1>
                  <h2>Free html5 templates Available at <a href="http://Themewagon.com/theme_tag/free/"
                      target="_blank">Themewagon</a></h2>
                  <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a
                      class="btn btn-primary btn-learn">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(assets/images/img_bg_4.jpg);">
          <div class="overlay-gradient"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                <div class="slider-text-inner">
                  <h1>I Love to Tell My Story</h1>
                  <h2>Free html5 templates Available at <a href="http://Themewagon.com/theme_tag/free/"
                      target="_blank">Themewagon</a></h2>
                  <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a
                      class="btn btn-primary btn-learn">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>

  <div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>DỊCH VỤ LẮP ĐẶT – SỬA CHỮA ĐIỆN LẠNH</h2>
        <span>Giá Rẻ – Uy Tín – Chất Lượng</span>
      </div>
    </div>
    <div class="row">
      <div class="card 1">
        <div class="card_image"> <img src="assets/images/service/sua-chua-may-lanh.jpg" /> </div>
        <div class="card_title title-white">
          <p>Sửa Chữa Máy Lạnh</p>
        </div>
      </div>
      <div class="card 2">
        <div class="card_image">
          <img src="assets/images/service/may-giat.jpg" />
        </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
      <div class="card 3">
        <div class="card_image">
          <img src="assets/images/service/sua-chua-tu-lanh.jpg" />
        </div>
        <div class="card_title">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card 1">
        <div class="card_image"> <img src="assets/images/service/ve-sinh-may-lanh.jpg" /> </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
      <div class="card 2">
        <div class="card_image">
          <img src="assets/images/service/ve-sinh-may-giat.jpg" />
        </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
      <div class="card 3">
        <div class="card_image">
          <img src="assets/images/service/thao-lap-may-lanh.jpg" />
        </div>
        <div class="card_title">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card 1">
        <div class="card_image"> <img src="assets/images/service/ve-sinh-may-lanh.jpg" /> </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
      <div class="card 2">
        <div class="card_image">
          <img src="assets/images/service/ve-sinh-may-giat.jpg" />
        </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
      <div class="card 3 invisible">
        {{!-- <div class="card_image">
          <img src="assets/images/service/thao-lap-may-lanh.jpg" />
        </div>
        <div class="card_title">
          <p>Card Title</p>
        </div> --}}
      </div>
    </div>
  </div>

  <div id="fh5co-counter" class="fh5co-counters">
    <div class="container">
      <div class="qck-sec-details">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="qck-imgs">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="qck-img mgt--24">
                    <img decoding="async"
                      src="https://smartdata.tonytemplates.com/heacool/wp-content/uploads/2019/12/img1.jpg" alt="">
                  </div>
                  <!--qck-img end-->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="qck-img mb-5">
                    <img decoding="async"
                      src="https://smartdata.tonytemplates.com/heacool/wp-content/uploads/2019/12/img2.jpg" alt="">
                  </div>
                  <!--qck-img end-->
                  <div class="qck-img">
                    <img decoding="async"
                      src="https://smartdata.tonytemplates.com/heacool/wp-content/uploads/2019/12/img3.jpg" alt="">
                  </div>
                  <!--qck-img end-->
                </div>
              </div>
            </div>
            <!--qck-imgs end-->
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="qck-services">
              <h4>
                Your home comfort experts </h4>
              <h2>
                <span>Quality</span> Heating &amp; Cooling Services
              </h2>
              <p>
                We provide customers with an industry leading 10-year installation warranty and a two-year service and
                repair warranty. With most companies, you will get a standard manufacturers warranty on installations
                and a
                one-year warranty on service and repair work. </p>
              <p>
                We believe our warranties set us apart from our competitors and show our commitment to quality work and
                service. </p>
              <a href="http://smartdata.tonytemplates.com/heacool/about-us/" class="lnk-default">Read More</a>
            </div>
            <!---qck-services end-->
          </div>
        </div>
      </div>
      <!--qck-sec-details end-->
    </div>
  </div>

  <div id="fh5co-blog" class="blog-flex">
  </div>
</div><!-- END container-wrap -->